<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('Dual Listbox')" />
	<th:block th:include="include :: bootstrap-duallistbox-css" />
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Dual List Box <small>https://github.com/istvan-ujjmeszaros/bootstrap-duallistbox</small></h5>
                    </div>  
                    <div class="ibox-content">
                        <p>
                            Bootstrap Dual Listbox is a responsive dual listbox optimized for Twitter Bootstrap. It works on all modern browsers and touch devices.
                        </p>

                        <form id="form" action="#" class="wizard-big">
                            <select class="form-control dual_select" multiple>
                                <option value="1">Alina 1</option>
                                <option value="2">Alina 2</option>
                                <option value="3">Alina 3</option>
                                <option selected value="4">Alina 4</option>
                                <option selected value="5">Alina 5</option>
                                <option value="6">Alina 6</option>
                                <option value="7">Alina 7</option>
                                <option value="8">Alina 8</option>
                                <option value="9">Alina 9</option>
                                <option value="10">Alina 10</option>
                                <option value="11">Alina 11</option>
                                <option value="12">Alina 12</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: bootstrap-duallistbox-js" />
    <script type="text/javascript">
	    $('.dual_select').bootstrapDualListbox({
            nonSelectedListLabel: 'No users',
            selectedListLabel: 'Already a user',
            preserveSelectionOnMove: 'moved',
            moveOnSelect: false, // A clip appears, indicating that one can be selected at a time
            filterTextClear: 'Show all',
            moveSelectedLabel: "Add",
            moveAllLabel: 'Add all',
            removeSelectedLabel: "Remove",
            removeAllLabel: 'Remove all',
            infoText: 'Total {0}',
            showFilterInputs: false, // whether to search
            selectorMinimalHeight: 160
	    });
    </script>
</body>
</html>
