<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('Grid')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Grid settings</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="grid_options.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="grid_options.html#">Option 1</a>
                                </li>
                                <li><a href="grid_options.html#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <p>Use the table below to see in detail how Bootstrap's grid system works on multiple screen devices.</p>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>
                                            Ultra-small screen
                                            <small>Mobile (&lt;768px)</small>
                                        </th>
                                        <th>
                                            Small screen
                                            <small>Flat (≥768px)</small>
                                        </th>
                                        <th>
                                            Medium screen
                                            <small>Desktop monitor (≥992px)</small>
                                        </th>
                                        <th>
                                            Big screen
                                            <small>Large desktop display (≥1200px)</small>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="text-nowrap">Grid System Behavior</th>
                                        <td>Always horizontally</td>
                                        <td colspan="3">Initially stacked together, when above these thresholds it will become horizontally aligned C</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap"><code>.container</code> Maximum width</th>
                                        <td>None （Automatic）</td>
                                        <td>750px</td>
                                        <td>970px</td>
                                        <td>1170px</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap">Class prefix</th>
                                        <td><code>.col-xs-</code>
                                        </td>
                                        <td><code>.col-sm-</code>
                                        </td>
                                        <td><code>.col-md-</code>
                                        </td>
                                        <td><code>.col-lg-</code>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap">Columns number</th>
                                        <td colspan="4">12</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap">Maximum column width</th>
                                        <td class="text-muted">Automatic</td>
                                        <td>~62px</td>
                                        <td>~81px</td>
                                        <td>~97px</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap">Gutter width</th>
                                        <td colspan="4">30px （Each column has width 15px）</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap">Nestable</th>
                                        <td colspan="4">Yes</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap">Offsets</th>
                                        <td colspan="4">Yes</td>
                                    </tr>
                                    <tr>
                                        <th class="text-nowrap">Sorting columns</th>
                                        <td colspan="4">Yes</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>From stack to horizontal</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="grid_options.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="grid_options.html#">Option 1</a>
                                </li>
                                <li><a href="grid_options.html#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <p>Use a single set <code>.col-md-*</code> Grid class, you can create a basic grid system, which is stacked on the mobile phone and tablet device from the beginning (super small screen to small screen), and becomes horizontal on desktop (medium) screen arrangement. All "columns" must be placed in " <code>.row</code></p>
                        <div class="row show-grid">
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-1">.col-md-1</div>
                            <div class="col-md-1">.col-md-1</div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-8">.col-md-8</div>
                            <div class="col-md-4">.col-md-4</div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-4">.col-md-4</div>
                            <div class="col-md-4">.col-md-4</div>
                            <div class="col-md-4">.col-md-4</div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6">.col-md-6</div>
                            <div class="col-md-6">.col-md-6</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Mobile devices and desktop screens</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="grid_options.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="grid_options.html#">Option 1</a>
                                </li>
                                <li><a href="grid_options.html#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <p>Don't want all columns stacked on a small screen device? Then use the classes defined for
                            ultra-small and medium screen devices, <code> .col-xs-* </code> and <code> .col-md-* </code>. Take a look at the examples below to see how these work.</p>
                        <div class="row show-grid">
                            <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
                            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-xs-6">.col-xs-6</div>
                            <div class="col-xs-6">.col-xs-6</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Phone, tablet, desktop</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="grid_options.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="grid_options.html#">Option 1</a>
                                </li>
                                <li><a href="grid_options.html#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <p>Based on the above case, let's create a more dynamic and powerful layout by using the <code>
                            .col-sm-* </code> classes for tablet devices.</p>
                        <div class="row show-grid">
                            <div class="col-xs-12 col-sm-6 col-md-8">.col-xs-12 .col-sm-6 .col-md-8</div>
                            <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                            <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                            <!-- Optional: clear the XS cols if their content doesn't match in height -->
                            <div class="clearfix visible-xs"></div>
                            <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>The extra columns will be arranged in a new row</h5>

                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="grid_options.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="grid_options.html#">Option 1</a>
                                </li>
                                <li><a href="grid_options.html#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>In a 4 grid with the same width, the grid will not meet the height problem. To solve this problem, you can use <code> .clearfix </code>. <a href="grid_options.html#responsive-utilities"> responsive utility class</a>
                        </p>
                        <div class="row show-grid">
                            <div class="col-xs-6 col-sm-3">
                                .col-xs-6 .col-sm-3
                                <br>Resize the window or view this example on your phone
                            </div>
                            <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

                            <!-- Add the extra clearfix for only the required viewport -->
                            <div class="clearfix visible-xs"></div>

                            <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
                            <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Column offset</h5>

                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="grid_options.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="grid_options.html#">Option 1</a>
                                </li>
                                <li><a href="grid_options.html#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <p>Use the <code> .col-md-offset-* </code> classes to offset columns to the right. These classes actually add a left margin to the current element by using the <code> * </code> selector. For example, the <code> .col-md-offset-4 </code> class offsets the <code> .col-md-4 </code> element to the right by the width of 4 columns. </p>
                        <div class="row show-grid">
                            <div class="col-md-4">.col-md-4</div>
                            <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
                            <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
                        </div>
                        <div class="row show-grid">
                            <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Nested column</h5>

                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="grid_options.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="grid_options.html#">Option 1</a>
                                </li>
                                <li><a href="grid_options.html#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>To nest content again using the built-in grid system, you can add a new <code> .row </code> element and a series of <code> .col-sm-* </code> elements to an existing <code> .col-sm-* </code> elements. The number of columns in a nested row cannot exceed 12 (in fact, there is no requirement that you must occupy 12 columns).</p>
                        <div class="row show-grid">
                            <div class="col-md-9">
                                Level 1： .col-md-9
                                <div class="row show-grid">
                                    <div class="col-md-6">
                                        Level 2： .col-md-6
                                    </div>
                                    <div class="col-md-6">
                                        Level 2： .col-md-6
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Sorting columns</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="grid_options.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="grid_options.html#">Option 1</a>
                                </li>
                                <li><a href="grid_options.html#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <p>The order of the columns can be easily changed by using the <code> .col-md-push-* </code> and <code> .col-md-pull-* </code> classes.</p>
                        <div class="row show-grid">
                            <div class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
                            <div class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>
</html>
