<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('Sortable')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Task list</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Drag task panels between lists</p>

                        <div class="input-group">
                            <input type="text" placeholder="Add new task" class="input input-sm form-control">
                            <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-plus"></i> Add </button>
                                </span>
                        </div>

                        <ul class="sortable-list connectList agile-list">
                            <li class="warning-element">
                                Strengthen process management, timely statistics on the use of education funds, make it clear to the bottom,
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Label</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.01
                                </div>
                            </li>
                            <li class="success-element">
                                Support the continuous training of finance and accounting personnel.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="info-element">
                                Cooperate with the teaching department to do a good job in bursary and textbook fee reduction.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="danger-element">
                                Accountants and cashiers are required to strictly implement the financial system, abide by job responsibilities, and report various materials on time.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">Confirm</a>
                                    <i class="fa fa-clock-o"></i> 2018.06.10
                                </div>
                            </li>
                            <li class="warning-element">
                                Do a good job of medical treatment for employees at public expense and pay outpatient fees on time.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                Review the textbook three to five times in a planned way.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">Confirm</a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                Read a high-quality high school grammar book.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="info-element">
                                Choose a good English newspaper to improve English learning through reading.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Processing</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Drag task panels between lists </p>
                        <ul class="sortable-list connectList agile-list">
                            <li class="success-element">
                                Comprehensively and in-depth grasp of the functions, features and advantages of our "products" and free application
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.01
                                </div>
                            </li>
                            <li class="success-element">
                                Enter 150 customer profiles based on information you have previously learned and searched from other sources.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="warning-element">
                                Target 20 interested customers.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="warning-element">
                                Strive to complete sales targets.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="info-element">
                                Go forward in the summary and exploration.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">Confirm</a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                Continuously learning industry knowledge and product knowledge, bringing practical introduction content to customers
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>
                            <li class="danger-element">
                                Friends after orders: develop good friendship with customers, change the role of salesperson, think for customers everywhere
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.11.04
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>Completed</h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i>Drag task panels between lists </p>
                        <ul class="sortable-list connectList agile-list">
                            <li class="info-element">
                                Work schedule
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.10
                                </div>
                            </li>
                            <li class="warning-element">
                                Keep making 40 effective calls every day to find potential customers
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                Have a comprehensive understanding of the customer before visiting the customer (the customer's potential needs, positions, permissions, and personal characteristics and hobbies)
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.09.09
                                </div>
                            </li>
                            <li class="warning-element">
                                Improve your telemarketing skills and communicate with customers flexibly and professionally.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-primary">Confirm/a>
                                    <i class="fa fa-clock-o"></i> 2018.08.04
                                </div>
                            </li>
                            <li class="success-element">
                                Understand the use of equipment and purchases in various cities and related important followers during the telesales process.
                                <div class="agile-detail">
                                    <a href="#" class="pull-right btn btn-xs btn-white">Mark</a>
                                    <i class="fa fa-clock-o"></i> 2018.05.12
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:src="@{/js/jquery-ui-1.10.4.min.js}"></script>
    <script>
	    $(document).ready(function () {
	        $(".sortable-list").sortable({connectWith: ".connectList"}).disableSelection()
	    });
    </script>
</body>
</html>
