<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('Tabs & panels')" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Basic panel <small class="m-l-sm">This is a custom panel</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="tabs_panels.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="tabs_panels.html#">Option 1</a>
                                </li>
                                <li><a href="tabs_panels.html#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            Bootstrap<br/>
                        </h2>
                        <p>
                            The simple, intuitive and powerful front-end development framework makes web development faster and easier.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true"> 第一个选项卡</a>
                        </li>
                        <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">第二个选项卡</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <strong>HTML5 document type</strong>
                                <p>Some HTML elements and CSS attributes used by Bootstrap require the page to be set to the HTML5 document type. Each page in your project should be set according to the following format.</p>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <strong>Mobile device first</strong>
                                <p>In Bootstrap 2, we added mobile-friendly styling to some key parts of the framework. In Bootstrap 3, we rewritten the entire framework to make it mobile-friendly from the beginning. This time, instead of simply adding some optional mobile-oriented styles, they are directly integrated into the framework's kernel. In other words, Bootstrap is mobile-first. Rather than add an extra file, mobile-specific styles are incorporated into every corner of the frame.</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-sm-6">
                <div class="panel blank-panel">

                    <div class="panel-heading">
                        <div class="panel-title m-b-md">
                            <h4>Icon tab</h4>
                        </div>
                        <div class="panel-options">

                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="tabs_panels.html#tab-4"><i class="fa fa-laptop"></i></a>
                                </li>
                                <li class=""><a data-toggle="tab" href="tabs_panels.html#tab-5"><i class="fa fa-desktop"></i></a>
                                </li>
                                <li class=""><a data-toggle="tab" href="tabs_panels.html#tab-6"><i class="fa fa-signal"></i></a>
                                </li>
                                <li class=""><a data-toggle="tab" href="tabs_panels.html#tab-7"><i class="fa fa-bar-chart-o"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="tab-4" class="tab-pane active">
                                <strong>Typesetting and linking</strong>

                                <p>Bootstrap typography and link styles set basic global styles. They are: Set background-color for the body element: #fff; Use @ font-family-base, @ font-size-base and @ line-height-base a variables as basic parameters for typesetting. Set the basic color for all links @ link-color, and underlining only when the link is in the: hover state. These styles can be found in the scaffolding.less file.</p>
                            </div>

                            <div id="tab-5" class="tab-pane">
                                <strong>Normalize.css</strong>

                                <p>To enhance consistency across browsers, we use Normalize.css, a CSS reset style library maintained by Nicolas Gallagher and Jonathan Neal.</p>
                            </div>
                            <div id="tab-6" class="tab-pane">
                                <strong>Layout container</strong>

                                <p>Bootstrap needs to wrap a .container container for the page content and the grid system. We provide two classes for this purpose. Note that these two container classes cannot be nested inside each other due to properties such as padding.</p>
                            </div>
                            <div id="tab-7" class="tab-pane">
                                <strong>Grid system</strong>

                                <p>Bootstrap provides a responsive, mobile-first streaming grid system. As the size of the screen or viewport increases, the system will automatically divide into a maximum of 12 columns. It contains easy-to-use predefined classes, and powerful mixins for generating more semantic layouts.</p>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-sm-6">
                <div class="tabs-container">

                    <div class="tabs-left">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-8"> Tab 1</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-9"> Tab 2</a>
                            </li>
                        </ul>
                        <div class="tab-content ">
                            <div id="tab-8" class="tab-pane active">
                                <div class="panel-body">
                                    <strong>Typesetting and linking</strong>

                                    <p>Bootstrap typography and link styles set basic global styles. They are: Set background-color for the body element: #fff; Use @ font-family-base, @ font-size-base and @ line-height-base a variables as basic parameters for typesetting. Set the basic color for all links @ link-color, and underlining only when the link is in the: hover state. These styles can be found in the scaffolding.less file.</p>
                                </div>
                            </div>
                            <div id="tab-9" class="tab-pane">
                                <div class="panel-body">
                                    <strong>Grid system</strong>

                                    <p>Bootstrap provides a responsive, mobile-first streaming grid system. As the size of the screen or viewport increases, the system will automatically divide into a maximum of 12 columns. It contains easy-to-use predefined classes, and powerful mixins for generating more semantic layouts.</p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-sm-6">
                <div class="tabs-container">
                    <div class="tabs-right">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab-10">Tab 1</a>
                            </li>
                            <li class=""><a data-toggle="tab" href="#tab-11"> Tab 2</a>
                            </li>
                        </ul>
                        <div class="tab-content ">
                            <div id="tab-10" class="tab-pane active">
                                <div class="panel-body">
                                    <strong>Typesetting and linking</strong>

                                    <p>Bootstrap typography and link styles set basic global styles. They are: Set background-color for the body element: #fff; Use @ font-family-base, @ font-size-base and @ line-height-base a variables as basic parameters for typesetting. Set the basic color for all links @ link-color, and underlining only when the link is in the: hover state. These styles can be found in the scaffolding.less file.</p>
                                </div>
                            </div>
                            <div id="tab-11" class="tab-pane">
                                <div class="panel-body">
                                    <strong>Grid system</strong>

                                    <p>Bootstrap provides a responsive, mobile-first streaming grid system. As the size of the screen or viewport increases, the system will automatically divide into a maximum of 12 columns. It contains easy-to-use predefined classes, and powerful mixins for generating more semantic layouts.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Bootstrap panel <small>Custom background</small></h5>
                    </div>
                    <div class="ibox-content">

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Default panel
                                    </div>
                                    <div class="panel-body">
                                        <p>.Panel-heading makes it easy to add a header container to a panel. You can also add a title with a predefined style by adding a tag with the .panel-title class set. In order to color the links appropriately, be sure to place the links inside a title tag with a .panel-title class.</p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        Main
                                    </div>
                                    <div class="panel-body">
                                        <p>.Panel-heading makes it easy to add a header container to a panel. You can also add a title with a predefined style by adding a tag with the .panel-title class set. In order to color the links appropriately, be sure to place the links inside a title tag with a .panel-title class.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        Success
                                    </div>
                                    <div class="panel-body">
                                        <p>.Panel-heading makes it easy to add a header container to a panel. You can also add a title with a predefined style by adding a tag with the .panel-title class set. In order to color the links appropriately, be sure to place the links inside a title tag with a .panel-title class.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <i class="fa fa-info-circle"></i> Information
                                    </div>
                                    <div class="panel-body">
                                        <p>.Panel-heading makes it easy to add a header container to a panel. You can also add a title with a predefined style by adding a tag with the .panel-title class set. In order to color the links appropriately, be sure to place the links inside a title tag with a .panel-title class.</p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <i class="fa fa-warning"></i> Warning
                                    </div>
                                    <div class="panel-body">
                                        <p>.Panel-heading makes it easy to add a header container to a panel. You can also add a title with a predefined style by adding a tag with the .panel-title class set. In order to color the links appropriately, be sure to place the links inside a title tag with a .panel-title class.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        Danger
                                    </div>
                                    <div class="panel-body">
                                        <p>.Panel-heading makes it easy to add a header container to a panel. You can also add a title with a predefined style by adding a tag with the .panel-title class set. In order to color the links appropriately, be sure to place the links inside a title tag with a .panel-title class.</p>
                                    </div>
                                    <div class="panel-footer">
                                        Footer Panel
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Folding panel</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="tabs_panels.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="tabs_panels.html#">Option 1</a>
                                </li>
                                <li><a href="tabs_panels.html#">Option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="tabs_panels.html#collapseOne">Title #1</a>
                                            </h5>
                                    </div>
                                    <div id="collapseOne" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            Bootstrap related high-quality projects recommended These projects are either a useful supplement to Bootstrap, or are based on Bootstrap.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="tabs_panels.html#collapseTwo">Title #2</a>
                                            </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Bootstrap related high-quality projects recommended These projects are either a useful supplement to Bootstrap, or are based on Bootstrap.
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="tabs_panels.html#collapseThree">Title #3</a>
                                            </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Bootstrap related high-quality projects recommended These projects are either a useful supplement to Bootstrap, or are based on Bootstrap.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="jumbotron">
                    <h1>Large screen</h1>
                    <p>Another feature supported by Bootstrap is Jumbotron. As the name suggests, this component can increase the size of the title and add more margin to the landing page content. The steps to use the Jumbotron are as follows：</p>
                    <div class="alert alert-warning">
                        <ol>
                            <li>Create a container with class .jumbotron.</li>
                            <li>Except bigger &lt;h1&gt;，The font-weight is reduced to 200px.</li>
                        </ol>
                    </div>

                    <p><a role="button" class="btn btn-primary btn-lg">understand more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
</body>
</html>
