<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('Basic form')" />
	<th:block th:include="include :: jquery-steps-css" />
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-5">
                <div class="jumbotron">
                    <h1>Form Wizard</h1>
                    <p>Smart UI widgets allow you to quickly create form wizard interfaces.</p>
                    <p><a href="https://github.com/rstaib/jquery-steps" target="_blank" class="btn btn-primary btn-lg" role="button">了解 jQuery Steps</a>
                    </p>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Basic Form Wizard</h5>
                    </div>
                    <div class="ibox-content">
                        <p>
                            Here is an example of a simple form wizard
                        </p>
                        <div id="wizard">
                            <h1>Step 1 </h1>
                            <div class="step-content">
                                <div class="text-center m-t-md">
                                    <h2>Step 1</h2>
                                    <p>
                                                                                                       这是第一步的内容
                                    </p>
                                </div>
                            </div>

                            <h1>Step 2</h1>
                            <div class="step-content">
                                <div class="text-center m-t-md">
                                    <h2>Step 2</h2>
                                    <p>
                                                                                                       这是第二步的内容
                                    </p>
                                </div>
                            </div>

                            <h1>Step 3</h1>
                            <div class="step-content">
                                <div class="text-center m-t-md">
                                    <h2>Step 3</h2>
                                    <p>
                                                                                                      这是第三步的内容
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Form Wizard with validation</h5>
                    </div>
                    <div class="ibox-content">
                        <h2>
                            Form Wizard with validation
                            </h2>
                        <p>
                            The following example shows how to use the jQuery Validation plugin in the form wizard
                        </p>

                        <form id="form" action="" class="wizard-big">
                            <h1>ACCOUNT</h1>
                            <fieldset>
                                <h2>ACCOUNT INFO.</h2>
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label>USERNAME *</label>
                                            <input id="userName" name="userName" type="text" class="form-control required">
                                        </div>
                                        <div class="form-group">
                                            <label>PASSWORD *</label>
                                            <input id="password" name="password" type="text" class="form-control required">
                                        </div>
                                        <div class="form-group">
                                            <label>CONFIRM *</label>
                                            <input id="confirm" name="confirm" type="text" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="text-center">
                                            <div style="margin-top: 20px">
                                                <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>
                            <h1>Personal information</h1>
                            <fieldset>
                                <h2>Personal information</h2>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>NAME *</label>
                                            <input id="name" name="name" type="text" class="form-control required">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>EMAIL *</label>
                                            <input id="email" name="email" type="text" class="form-control required email">
                                        </div>
                                        <div class="form-group">
                                            <label>ADDRESS *</label>
                                            <input id="address" name="address" type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <h1>Warnings</h1>
                            <fieldset>
                                <div class="text-center" style="margin-top: 120px">
                                    <h2>You are martian :-)</h2>
                                </div>
                            </fieldset>

                            <h1>Finish</h1>
                            <fieldset>
                                <h2>Terms</h2>
                                <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required">
                                <label for="acceptTerms">I agree to the terms of registration.</label>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: jquery-steps-js" />
    <script>
	    $(document).ready(function () {
	        $("#wizard").steps();
	        $("#form").steps({
	            bodyTag: "fieldset", onStepChanging: function (event, currentIndex, newIndex) {
	                if (currentIndex > newIndex) {
	                    return true
	                }
	                if (newIndex === 3 && Number($("#age").val()) < 18) {
	                    return false
	                }
	                var form = $(this);
	                if (currentIndex < newIndex) {
	                    $(".body:eq(" + newIndex + ") label.error", form).remove();
	                    $(".body:eq(" + newIndex + ") .error", form).removeClass("error")
	                }
	                form.validate().settings.ignore = ":disabled,:hidden";
	                return form.valid()
	            }, onStepChanged: function (event, currentIndex, priorIndex) {
	                if (currentIndex === 2 && Number($("#age").val()) >= 18) {
	                    $(this).steps("next")
	                }
	                if (currentIndex === 2 && priorIndex === 3) {
	                    $(this).steps("previous")
	                }
	            }, onFinishing: function (event, currentIndex) {
	                var form = $(this);
	                form.validate().settings.ignore = ":disabled";
	                return form.valid()
	            }, onFinished: function (event, currentIndex) {
	                var form = $(this);
	                form.submit()
	            }
	        }).validate({
	            errorPlacement: function (error, element) {
	                element.before(error)
	            }, rules: {confirm: {equalTo: "#password"}}
	        })
	    });
	</script>
</body>
</html>
