<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alina.bootrpc.system.mapper.SysJobMapper">
    <resultMap id="BaseResultMap" type="com.alina.bootrpc.system.model.SysJob">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <id column="job_name" property="jobName" jdbcType="VARCHAR"/>
        <id column="job_group" property="jobGroup" jdbcType="VARCHAR"/>
        <result column="invoke_target" property="invokeTarget" jdbcType="VARCHAR"/>
        <result column="cron_expression" property="cronExpression" jdbcType="VARCHAR"/>
        <result column="misfire_policy" property="misfirePolicy" jdbcType="VARCHAR"/>
        <result column="concurrent" property="concurrent" jdbcType="CHAR"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>