<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alina.bootrpc.system.mapper.SysLogininforMapper">
    <resultMap id="BaseResultMap" type="com.alina.bootrpc.system.model.SysLogininfor">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="ipaddr" property="ipaddr" jdbcType="VARCHAR"/>
        <result column="login_location" property="loginLocation" jdbcType="VARCHAR"/>
        <result column="browser" property="browser" jdbcType="VARCHAR"/>
        <result column="os" property="os" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="msg" property="msg" jdbcType="VARCHAR"/>
        <result column="login_time" property="loginTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="cleanLogininfor">
        truncate table sys_logininfor
    </update>

</mapper>