<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alina.bootrpc.system.mapper.SysUserOnlineMapper">
    <resultMap id="BaseResultMap" type="com.alina.bootrpc.system.model.SysUserOnline">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="sessionId" property="sessionid" jdbcType="VARCHAR"/>
        <result column="login_name" property="loginName" jdbcType="VARCHAR"/>
        <result column="dept_name" property="deptName" jdbcType="VARCHAR"/>
        <result column="ipaddr" property="ipaddr" jdbcType="VARCHAR"/>
        <result column="login_location" property="loginLocation" jdbcType="VARCHAR"/>
        <result column="browser" property="browser" jdbcType="VARCHAR"/>
        <result column="os" property="os" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="start_timestamp" property="startTimestamp" jdbcType="TIMESTAMP"/>
        <result column="last_access_time" property="lastAccessTime" jdbcType="TIMESTAMP"/>
        <result column="expire_time" property="expireTime" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="selectOnlineVo">
       select sessionId, login_name, dept_name, ipaddr, login_location, browser, os, status, start_timestamp, last_access_time, expire_time
	   from sys_user_online
    </sql>

    <select id="selectOnlineByExpired" parameterType="String" resultMap="BaseResultMap">
        <include refid="selectOnlineVo"/> o
        WHERE o.last_access_time <![CDATA[ <= ]]> #{lastAccessTime} ORDER BY o.last_access_time ASC
    </select>

</mapper>