<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('Image view')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var prefix = ctx + "demo/table";

        $(function() {
            var options = {
                url: prefix + "/list",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'userId', 
					title : 'USER ID'
				},
				{
					field : 'userCode', 
					title : 'USER CODE'
				},
				{
					field : 'userName', 
					title : 'USERNAME'
				},
				{
				    title: 'IMAGE',
				    formatter: function(value, row, index) {
				    	// 图片预览（注意：如存储在本地直接获取数据库路径，如有配置context-path需要使用ctx+路径）
				    	// 如：/profile/upload/2019/08/08/3b7a839aced67397bac694d77611ce72.png
				    	if(index % 2 == 0){
				    		return $.table.imageView('http://demo.ruoyi.vip/img/profile.jpg');
				    	}else {
				    		return $.table.imageView('http://demo.ruoyi.vip/ruoyi.png');
				    	}
				    }
				},
				{
					field : 'userPhone', 
					title : 'PHONE'
				},
				{
					field : 'userEmail', 
					title : 'EMAIL'
				},
				{
				    field : 'userBalance',
				    title : 'BALANCE'
				},
		        {
		            title: 'OPERATIONS',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs" href="#"><i class="fa fa-edit"></i>Edit</a> ');
                        actions.push('<a class="btn btn-danger btn-xs" href="#"><i class="fa fa-remove"></i>Delete</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>