<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('Table drag operation')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 select-table table-striped">
			    <p class="select-title">Drag and drop</p>
				<table id="bootstrap-table" data-mobile-responsive="true"
				 data-use-row-attr-func="true"
				 data-reorderable-rows="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <th:block th:include="include :: bootstrap-table-reorder-js" />
    <script th:inline="javascript">
        var prefix = ctx + "demo/table";
        var datas = [[${@dict.getType('sys_normal_disable')}]];

        $(function() {
            var options = {
                url: prefix + "/list",
		        showSearch: false,
		        showRefresh: false,
		        showToggle: false,
		        showColumns: false,
		        onReorderRow: function (data) {
		        	 //当拖拽结束后，data为整个表格的数据
		            console.log('End of drag' + JSON.stringify(data))
		            return false;
		        },
                columns: [{
		            checkbox: true
		        },
				{
					field : 'userId', 
					title : 'USER ID'
				},
				{
					field : 'userCode',
					title : 'USER CODE'
				},
				{
					field : 'userName', 
					title : 'USERNAME'
				},
				{
					field : 'userPhone', 
					title : 'PHONE'
				},
				{
					field : 'userEmail', 
					title : '用户邮箱'
				},
				{
				    field : 'userBalance',
				    title : 'EMAIL'
				},
				{
                    field: 'status',
                    title: 'STATE',
                    align: 'center',
                    formatter: function(value, row, index) {
                    	return $.table.selectDictLabel(datas, value);
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>