<!DOCTYPE html>
<html lang="zh">
<head>
	<th:block th:include="include :: header('Form search')" />
	<th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="gray-bg">
    <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
			    <p class="select-title">General condition query</p>
				<form id="ordinary-form">
					<div class="select-list">
						<ul>
							<li>
								Merchant ID：<input type="text" name="userId"/>
							</li>
							<li>
								Terminal number：<input type="text" name="termId"/>
							</li>
							<li>
								Processing status：<select name="status">
									<option value="">All</option>
									<option value="0">Initial</option>
									<option value="1">Processing</option>
									<option value="2">Success</option>
									<option value="3">Fail</option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Search</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="col-sm-12 search-collapse">
			    <p class="select-title">Time condition query</p>
				<form id="time-form">
					<div class="select-list">
						<ul>
							<li>
								Merchant ID：<input type="text" name="userId"/>
							</li>
							<li>
								Terminal number：<input type="text" name="termId"/>
							</li>
							<li class="select-time">
								<label>Create time： </label>
								<input type="text" class="time-input" id="startTime" placeholder="Begin time" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="End time" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Search</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('time-form')"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="col-sm-12 search-collapse">
			    <p class="select-title">Drop-down multiple selection query</p>
				<form id="select-form">
					<div class="select-list">
						<ul>
							<li>
								Merchant ID：<input type="text" name="userId"/>
							</li>
							<li>
								Terminal number：<input type="text" name="termId"/>
							</li>
							<li class="select-selectpicker">
								<label>Operation type： </label><select class="selectpicker" data-none-selected-text="请选择" multiple>
									<option value="">All</option>
									<option value="0">Initial</option>
									<option value="1">Processing</option>
									<option value="2">Success</option>
									<option value="3">Fail</option>
								</select>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Search </a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('select-form')"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="col-sm-12 search-collapse">
			    <p class="select-title">Complex condition query</p>
				<form id="complex-form">
					<div class="select-list">
						<ul>
							<li>
								<p>Merchant ID：</p>
								<input type="text" name="userId"/>
							</li>
							<li>
								<p>Terminal number：</p>
								<input type="text" name="orderNo"/>
							</li>
							<li>
								<p>Date：</p>
								<input type="text" class="time-input" placeholder="Date"/>
							</li>
							<li class="select-selectpicker">
								<p>State：</p>
								<select class="selectpicker" data-none-selected-text="Select" multiple>
									<option value="">All</option>
									<option value="0">Initial</option>
									<option value="1">Processing</option>
									<option value="2">Success</option>
									<option value="3">Fail</option>
								</select>
							</li>
							<li>
								<p>Supplier Channel：</p>
								<select>
									<option value="">All</option>
									<option value="0">Tabao</option>
									<option value="1">TMall</option>
									<option value="2">JDMall</option>
								</select>
							</li>
							<li>
								<p>Source：</p>
								<select>
									<option value="">All</option>
									<option value="0">Phone</option>
									<option value="1">Computer</option>
									<option value="2">Other</option>
								</select>
							</li>
							<li>
								<p>Operator：</p>
								<select>
									<option value="">All</option>
									<option value="0">China mobile</option>
									<option value="1">China Telecom</option>
									<option value="2">China Unicom</option>
								</select>
							</li>
							<li class="select-time">
								<p>Callback time：</p>
								<input type="text" class="time-input" placeholder="Start time"/>
								<span>-</span>
								<input type="text" class="time-input" placeholder="End time"/>
							</li>
							
							<li>
								<a class="btn btn-primary btn-rounded btn-sm m50" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Search </a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset('complex-form')"><i class="fa fa-refresh"></i>&nbsp;Reset </a>
							</li>
						</ul>
					</div>
				</form>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: bootstrap-select-js" />
</body>
</html>
