<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('Edit Scheduled task')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-job-edit" th:object="${job}">
			<input id="jobId" name="jobId" type="hidden" th:field="*{jobId}"/>
			<input type="hidden" name="updateBy" th:value="${@permission.getPrincipalProperty('loginName')}">
			<div class="form-group">
				<label class="col-sm-3 control-label">JOB NAME：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="jobName" id="jobName" th:field="*{jobName}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">JOB GROUP：</label>
				<div class="col-sm-8">
					<select name="jobGroup" class="form-control m-b" th:with="type=${@dict.getType('sys_job_group')}">
		                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{jobGroup}"></option>
		            </select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">CALL TARGET STRING：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="invokeTarget" id="invokeTarget" th:field="*{invokeTarget}" required>
				    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> Bean Call example：alTask.alParams('al')</span>
				    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> Class call example：com.alina.quartz.task.AlinaTask.alParams('al')</span>
				    <span class="help-block m-b-none"><i class="fa fa-info-circle"></i> Parameter description: support string, Boolean type, long integer, floating point, integer</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label ">CRON. EXPRESSION：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="cronExpression" id="cronExpression" th:field="*{cronExpression}" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">EXECUTION STRATEGY：</label>
				<div class="col-sm-8">
					<label class="radio-box"> <input type="radio" th:field="*{misfirePolicy}" name="misfirePolicy" value="1" /> Execute immediately </label>
					<label class="radio-box"> <input type="radio" th:field="*{misfirePolicy}" name="misfirePolicy" value="2" /> Execute once </label>
					<label class="radio-box"> <input type="radio" th:field="*{misfirePolicy}" name="misfirePolicy" value="3" /> Give up execution </label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">CONCURRENT EXECUTION：</label>
				<div class="col-sm-8">
					<label class="radio-box"> <input type="radio" th:field="*{concurrent}" name="concurrent" value="0"/> Allow </label>
					<label class="radio-box"> <input type="radio" th:field="*{concurrent}" name="concurrent" value="1"/> Forbid </label>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">STATE：</label>
				<div class="col-sm-8">
					<div class="radio-box" th:each="dict : ${@dict.getType('sys_job_status')}">
						<input type="radio" th:id="${dict.dictCode}" name="status" th:value="${dict.dictValue}" th:field="*{status}">
						<label th:for="${dict.dictCode}" th:text="${dict.dictLabel}"></label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">REMARK：</label>
				<div class="col-sm-8">
					<textarea id="remark" name="remark" class="form-control">[[*{remark}]]</textarea>
				</div>
			</div>
		</form>
	</div>
	<th:block th:include="include :: footer" />
	<script type="text/javascript">
		var prefix = ctx + "monitor/job";
	
		$("#form-job-edit").validate({
			onkeyup: false,
			rules:{
				cronExpression:{
					required:true,
					remote: {
	                    url: prefix + "/checkCronExpressionIsValid",
	                    type: "post",
	                    dataType: "json",
	                    data: {
	                        "cronExpression": function() {
	                            return $.common.trim($("#cronExpression").val());
	                        }
	                    },
	                    dataFilter: function(data, type) {
	                    	return data;
	                    }
	                }
				},
			},
			messages: {
	            "cronExpression": {
	                remote: "Expression is incorrect"
	            }
	        },
	        focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	        	$.operate.save(prefix + "/edit", $('#form-job-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
