<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('Scheduled task log list')" />
</head>
<body class="gray-bg">

	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="jobLog-form">
					<div class="select-list">
						<ul>
							<li>
								JOB NAME：<input type="text" name="jobName"/>
							</li>
							<li>
								JOB GROUP：<select name="jobGroup" th:with="type=${@dict.getType('sys_job_group')}">
									<option value="">All</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								RUN STATE：<select name="status" th:with="type=${@dict.getType('sys_common_status')}">
									<option value="">All</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li class="select-time">
								<label>RUN TIME： </label>
								<input type="text" class="time-input" id="startTime" placeholder="Start time" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="End time" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;Search </a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;Reset </a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm" id="toolbar" role="group">
				 <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="monitor:job:remove">
	                <i class="fa fa-remove"></i> DELETE
	            </a>
	            <a class="btn btn-danger" onclick="$.operate.clean()" shiro:hasPermission="monitor:job:remove">
	                <i class="fa fa-trash"></i> CLEAN
	            </a>
	            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="monitor:job:export">
		            <i class="fa fa-download"></i> EXPORT
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table"></table>
			</div>
		</div>
	</div>
	<th:block th:include="include :: footer" />
	<script th:inline="javascript">
		var detailFlag = [[${@permission.hasPermi('monitor:job:detail')}]];
		var statusDatas = [[${@dict.getType('sys_common_status')}]];
		var groupDatas = [[${@dict.getType('sys_job_group')}]];
		var prefix = ctx + "monitor/jobLog";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        cleanUrl: prefix + "/clean",
		        detailUrl: prefix + "/detail/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "createTime",
		        sortOrder: "desc",
		        modalName: "Scheduled task log",
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'jobLogId',
		            title: 'JOB LOG ID'
		        },
		        {
		            field: 'jobName',
		            title: 'JOB NAME'
		        },
		        {
		            field: 'jobGroup',
		            title: 'JOB GROUP',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(groupDatas, value);
		            }
		        },
		        {
		            field: 'invokeTarget',
		            title: 'INVOKE TARGET',
		            formatter: function(value, row, index) {
                    	return $.table.tooltip(value);
                    }
		        },
		        {
		            field: 'jobMessage',
		            title: 'JOB MESSAGE'
		        },
		        {
		            field: 'status',
		            title: 'STATE',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(statusDatas, value);
		            }
		        },
		        {
		            field: 'createTime',
		            title: 'CREATE TIME',
		            sortable: true
		        },
		        {
		            title: 'OPERATION',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a class="btn btn-warning btn-xs ' + detailFlag + '" href="javascript:void(0)" onclick="$.operate.detail(\'' + row.jobLogId + '\')"><i class="fa fa-search"></i>Detail</a>');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
	</script>
</body>
</html>